<!DOCTYPE html>
<html ng-app="MicrositeApp">
  <body ng-controller="MainViewController" style="min-height: 100%">
    {# Trick to include the template corresponding to the layout selected for the microsite #}
    {% with template_name=microsite.layout|add:'.html' %}
      {% include 'vizmanager/'|add:template_name %}
    {% endwith %}
  </body>

  <footer>
    {% load static from static %}
    {# include 'vizmanager/footer.html' TODO #}
    <link rel="stylesheet" href="{% static 'css/libs/semantic-ui/2.2.6/semantic.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flip.css' %}"/>
    <link rel="stylesheet" href="https://rawgit.com/c3js/c3/0.4.11/c3.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/libs/babbage/babbage.css' %}">
    <script src="{% static 'js/libs/jquery/3.1.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/semantic-ui/2.2.6/semantic.js' %}"></script>
    <script src="{% static 'js/libs/angular/angular-1.6.1.js' %}"></script>
    <script src="{% static 'js/libs/angular/angular-filter-0.5.14.js' %}"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/c3js/c3/0.4.11/c3.min.js" type="text/javascript"></script>
    <script src="{% static 'js/libs/babbage/babbage-angular.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
  </footer>
</html>
